<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="footer">
    <tr>
        <td><a href="#"><img src="assets/img/green.svg" alt="green"></a></td>
        <td><a href="#"><img src="assets/img/blue.svg" alt="blue"></a></td>
        <td><a href="#"><img src="assets/img/red.png" alt="red"></a></td>
        <td><a href="#"><img src="assets/img/yellow.svg" alt="yellow"></a></td>
        <td><a href="#"><img src="assets/img/gray.svg" alt="gray"></a></td>
    </tr>
</table>
</body>
</html>