<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Management</title>-->
<!--</head>-->
<!--<body>-->
    <!---->
<!--</body>-->
<!--</html>-->


<ul class="mngt">
    <li class="mngt-items"><a href="#"><i class="fa fa-user" aria-hidden="true"></i>Account</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-laptop" aria-hidden="true"></i>Command</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i>RFID</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i>Polygon Geo fence</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i>Geo fence binding</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-braille" aria-hidden="true"></i>Fuel sensor</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-user" aria-hidden="true">Driver</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-taxi" aria-hidden="true"></i>Car</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>DIY</a></li>
    <li class="mngt-items"><a href="#"><i class="fa fa-database" aria-hidden="true"></i>OTA</a></li>
</ul>